.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.853);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

#card-modal {

    border: 5px solid #1C2D43;

    background: linear-gradient(to bottom, #B3BDC3CC 0%, #B3BDC3CC 25%, #F7F9FACC 50%, #B3BDC3CC 75%, #B3BDC3CC 100%);


    #XImg {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 30px;
        z-index: 99999;
        transition: transform 0.3s ease;
    }

    #XImg:hover {
        transform: scale(1.1);
    }



    img {

        border-color: #1C2D43;

    }

    h1 {

        font-family: "cyrovoid";

        font-size: 20px;

        color: #1C2D43;

    }

    h2,
    h3,
    li,
    p {

        font-family: "neubau";

        color: #1C2D43;

    }

    button {

        font-family: "neubau";

        color: #E6F1FF;

    }

    #info-modal {

        h2,
        h3 {

            font-size: 20px;

            font-weight: bold;

        }

        div {

            margin: 25px 0px 25px 0px;

            h2,
            h3,
            p,
            li {

                margin: 15px 0px 15px 0px;

            }

        }

        button {

            border-radius: 5px;

            padding: 10px;

            margin: 10px 0px 10px 10px;

        }

        #buttons {

            #mensagem {

                background-color: #0876ABCC;

                width: 143px;

            }

            #recomendar {

                background-color: #0E9A58CC;

            }

        }

    }

}



#cardEscuro-modal {

    border: 5px solid #0E9A5880;

    background-color: #0C221A;


    #XImg {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 30px;
        z-index: 99999;
        transition: transform 0.3s ease;
    }

    #XImg:hover {
        transform: scale(1.1);
    }




    img {

        border-color: #0E9A58;

    }

    h1 {

        font-family: "cyrovoid";

        font-size: 20px;

        color: #E6F1FF;

    }

    h2,
    h3,
    li,
    p {

        font-family: "neubau";

        color: #E6F1FF;

    }

    button {

        font-family: "neubau";

        color: #E6F1FF;

    }

    #info-modal {

        h2,
        h3 {

            font-size: 20px;

            font-weight: bold;

        }

        div {

            margin: 25px 0px 25px 0px;

            h2,
            h3,
            p,
            li {

                margin: 15px 0px 15px 0px;

            }

        }

        button {

            border-radius: 5px;

            padding: 10px;

            margin: 10px 0px 10px 10px;

        }

        #buttons {

            #mensagem {

                background-color: #0876ABCC;

                width: 143px;

            }

            #recomendar {

                background-color: #0E9A58CC;

            }

        }

    }

}



@media (min-width: 768px) {

    #card-modal {

        #XImg {

            width: 35px;

            right: 15px;

            margin-left: 0;

        }


        h2,
        h3,
        li,
        p {

            text-align: start;

        }

        #mainInfo {

            display: flex;

            flex-direction: row;

            justify-content: space-evenly;

            width: 100%;


            #fotoPerfil {

                width: 150px;

            }

            div {

                display: flex;

                align-items: baseline;

            }

        }

        #info-modal {

            width: 100%;

            div {

                margin: 25px 0px 25px 0px;

                width: 100%;


                ul {

                    display: flex;

                    flex-wrap: wrap;

                    justify-content: start;

                    width: 100%;

                    li {

                        margin-right: 25px;

                        margin-left: 25px;

                    }

                }



            }


            #buttons {

                display: flex;

                flex-direction: row;

                justify-content: end;

            }

        }

    }


    #cardEscuro-modal {

        #XImg {

            width: 35px;

            right: 15px;

            margin-left: 0;

        }


        h2,
        h3,
        li,
        p {

            text-align: start;

        }

        #mainInfo {

            display: flex;

            flex-direction: row;

            justify-content: space-evenly;

            width: 100%;


            #fotoPerfil {

                width: 150px;

            }

            div {

                display: flex;

                align-items: baseline;

            }

        }

        #info-modal {

            width: 100%;

            margin-left: 150px;

            div {

                margin: 25px 0px 25px 0px;

                width: 100%;


                ul {

                    display: flex;

                    flex-wrap: wrap;

                    justify-content: start;

                    width: 100%;

                    li {

                        margin-right: 25px;

                        margin-left: 25px;

                    }

                }



            }


            #buttons {

                display: flex;

                flex-direction: row;

                justify-content: end;

                margin-left: -150px;

            }

        }

    }

}







@media (min-width: 980px) {

    #card-modal {

        width: 50%;

        #XImg {

            width: 35px;

        }


        h2,
        h3,
        li,
        p {

            text-align: start;

        }

        #mainInfo {

            display: flex;

            flex-direction: row;

            justify-content: space-evenly;

            width: 100%;


            #fotoPerfil {

                width: 250px;

            }


            div {

                display: flex;

                align-items: baseline;

                h1 {

                    font-size: 40px;

                }

                h3 {

                    font-size: 25px;

                    width: 95%;

                }

            }


        }

        #info-modal {

            width: 100%;

            padding-left: 100px;

            div {

                h2,
                h3 {

                    font-size: 30px;

                }

                p,
                li {

                    font-size: 20px;

                }

            }


            #buttons {

                button {

                    font-size: 20px;

                }

            }

        }

    }


    #cardEscuro-modal {

        width: 50%;

        #XImg {

            width: 35px;

        }


        h2,
        h3,
        li,
        p {

            text-align: start;

        }

        #mainInfo {

            display: flex;

            flex-direction: row;

            justify-content: space-evenly;

            width: 100%;


            #fotoPerfil {

                width: 250px;

            }


            div {

                display: flex;

                align-items: baseline;

                h1 {

                    font-size: 40px;

                }

                h3 {

                    font-size: 25px;

                    width: 95%;

                }

            }


        }

        #info-modal {

            width: 100%;

            margin-left: 75px;

            div {

                h2,
                h3 {

                    font-size: 30px;

                }

                p,
                li {

                    font-size: 20px;

                }

            }


            #buttons {

                margin-left: -75px;

                button {

                    font-size: 20px;

                }

            }

        }

    }


}