#secHero {

    background-image: url("/assets/imgs/fundoSecHero.svg");


}


#secHeroEscura {

    background-image: url("/assets/imgs/fundoSecHeroEscura.svg");

}


#secMiddle, #secMiddleEscura {

    img {

        transform: translate(-80px);

    }

}


#secMiddle {

    background-image: url("/assets/imgs/fundoSecMiddle.svg");

    div {

        h1,
        p {

            color: #1C2D43;

        }

    }

}

#secMiddleEscura {

    background-image: url("/assets/imgs/fundoSecMiddleEscuro.svg");

    div {

        h1,
        p {

            color: #E6F1FF;

        }

    }


}

#secHero,
#secHeroEscura {

    p {

        color: #E6F1FF;

    }

}


#secPerfis {

    background-image: url("/assets/imgs/fundoSecPerfisClaro.svg");

    background-size: cover;

    h1, p {

        color: #1C2D43;

    }


    #secFiltros {

        background-image: url("/assets/imgs/fundoFiltros.svg");

        background-size: cover;

    }
/* 
    #secFiltrosEscura {

        background-image: url("/assets/imgs/fundoFiltrosEscuro.svg");

        background-size: cover;

    } */

}


#secPerfisEscura {

    background-image: url("/assets/imgs/fundoSecPerfisEscuro.svg");

    background-position: -100px;
    background-size: cover;

    h1, p {

        color: #E6F1FF;

    }

}


@media (min-width: 768px) {

    #forma1 {

        width: 150vw;

        transform: translate(100px, 0px);

        overflow: hidden;

    }

    #forma2 {

        transform: translate(-100px, -100px);

    }

    #content-home {

        margin-top: -685px;

        #secHero,
        #secHeroEscura {

            overflow: hidden;

            height: 650px;

            #imgSecHero {

                margin-top: 100px;

            }

            div {

                transform: translate(0px, -100px);

                p {

                    font-size: 18px;

                    width: 350px;

                    margin-top: 20px;

                }

            }

        }

        #secMiddle {

            overflow: hidden;

            div {

                padding: 0px 50px;

                h1 {

                    font-size: 30px;

                    width: 400px;

                }

                p {

                    width: 350px;

                    font-size: 18px;

                    z-index: 1;

                }

            }

            img {

                width: 500px;

                margin-left: -100px;

                z-index: 1;

            }

        }


        #secMiddleEscura {

            overflow: hidden;

            div {

                width: 600px;

                padding: 0px 50px;

                h1 {

                    font-size: 30px;

                    width: 400px;

                }

                p {

                    width: 350px;

                    font-size: 18px;

                    z-index: 1;

                }

            }

            img {

                width: 500px;

                margin-left: -100px;

                z-index: 1;

            }

        }

    }

}



@media (min-width: 980px) {

    #forma1 {

        width: 1000px;

        transform: translate(600px, 0px);

        overflow: hidden;

    }


    #forma2 {

        width: 1500px;

        transform: translate(-300px, 200px);

        z-index: 0;

    }



    #content-home {

        margin-top: -860px;

        #secHero,
        #secHeroEscura {

            overflow: hidden;

            height: 900px;

            #imgSecHero {

                width: 715px;

                margin-top: 225px;

            }


            div {

                transform: translate(0px, -275px);

                img {

                    width: 500px;

                }

                p {

                    transform: translate(0px, 10px);

                    font-size: 30px;

                    width: 40%;

                }


            }

        }

        #secMiddle {

            overflow: hidden;

            div {

                width: 650px;

                padding: 0px 75px;

                h1 {


                    font-size: 40px;

                    width: 100%;

                }

                p {

                    width: 650px;

                    font-size: 30px;

                }

            }

            img {

                width: 850px;

                transform: translate(100px, 0px);


            }

        }


        #secMiddleEscura {

            overflow: hidden;

            div {

                width: 650px;

                padding: 0px 75px;

                h1 {


                    font-size: 40px;

                    width: 100%;

                }

                p {

                    width: 650px;

                    font-size: 30px;

                }

            }

            img {

                width: 850px;

                transform: translate(100px, 0px);


            }

        }

    }

}