input[type="checkbox"] {

    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #E6F1FF;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;



}

input[type="checkbox"]:checked {

    background-color: #E6F1FF;

}


input[type="checkbox"]:checked::after {


    color: #1C2D43;
    content: "✔";
    font-size: 17px;
    position: absolute;
    left: 2.75px;
    top: -5px;

}


#secHero {

    background-image: url("/assets/imgs/fundoSecHero.svg");


}


#secHeroEscura {

    background-image: url("/assets/imgs/fundoSecHeroEscura.svg");

}


#secMiddle,
#secMiddleEscura {

    img {

        transform: translate(-80px);

    }

}


#secMiddle {

    background-image: url("/assets/imgs/fundoSecMiddle.svg");

    div {

        h1,
        p {

            color: #1C2D43;

        }

    }

}

#secMiddleEscura {

    background-image: url("/assets/imgs/fundoSecMiddleEscuro.svg");

    div {

        h1,
        p {

            color: #E6F1FF;

        }

    }


}

#secHero,
#secHeroEscura {

    p {

        color: #E6F1FF;

    }

}


#secPerfis {

    background-image: url("/assets/imgs/fundoSecPerfisClaro.svg");

    background-size: cover;

    h1,
    p {

        color: #1C2D43;

    }

    h4 {

        font-family: "neubau";

        color: #E6F1FF;

        font-size: 25px;

    }

    #notFound {

        color: #E6F1FF;

    }

    #contentFiltros-home {

        background-image: url("/assets/imgs/fundoFiltros.svg");

        background-size: cover;
        background-repeat: no-repeat;

        h6 {

            font-weight: bold;

            font-size: 25px;

        }

        p {

            font-size: 20px;

        }


        h6,
        p {

            font-family: "neubau";

            color: #E6F1FF;

        }


        #buttonAplicar {

            background-image: url("/assets/imgs/buttonAplicarFiltro.svg");

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            color: #E6F1FF;

            font-weight: bold;

        }

    }


    #card {

        background: linear-gradient(to bottom, #B3BDC399 0%, #B3BDC399 25%, #F7F9FA80 50%, #B3BDC399 75%, #B3BDC399 100%);

        border-color: #1C2D43;

        img {

            border-color: #1C2D43;

        }

        h1,
        h3,
        p {

            color: #1C2D43;

        }



    }


}


#secPerfisEscura {

    background-image: url("/assets/imgs/fundoSecPerfisEscuro.svg");

    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;

    h1,
    p {

        color: #E6F1FF;

    }

    h4,
    p {

        font-family: "neubau";

        color: #E6F1FF;

    }

    h4 {

        font-size: 25px;

    }

    #notFound {

        color: #E6F1FF;

    }

    #contentFiltrosEscuro-home {

        background-image: url("/assets/imgs/fundoFiltrosEscuro.svg");

        background-size: cover;

        display: flex;

        justify-content: center;

        align-items: start;


        h6 {

            font-weight: bold;

            font-size: 25px;

        }

        p {

            font-size: 20px;

        }


        h6,
        p {

            font-family: "neubau";

            color: #E6F1FF;

        }


        #buttonAplicarEscuro {

            background-color: #0e9a59c4;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            color: #E6F1FF;

            font-weight: bold;

            width: 200px;

            border-radius: 10px;

            margin-left: 50px;


        }

        #buttonAplicarEscuro:hover {

            cursor: pointer;

            scale: 110%;

            transition: 0.3s;

        }

    }


    #cardEscuro {

        background-color: #0C221A66;

        border-color: #0C5036;

        img {

            border-color: #0C5036;

        }

        h1,
        h3,
        p {

            color: #E6F1FF;

        }



    }

}





@media (min-width: 768px) {

    #forma1 {

        width: 150vw;

        transform: translate(100px, 0px);

        overflow: hidden;

    }

    #forma2 {

        transform: translate(-100px, -100px);

    }

    #content-home {

        margin-top: -685px;

        #secHero,
        #secHeroEscura {

            overflow: hidden;

            height: 650px;

            #imgSecHero {

                margin-top: 100px;

            }

            div {

                transform: translate(0px, -100px);

                p {

                    font-size: 18px;

                    width: 350px;

                    margin-top: 20px;

                }

            }

        }

        #secMiddle {

            overflow: hidden;

            div {

                padding: 0px 50px;

                h1 {

                    font-size: 30px;

                    width: 400px;

                }

                p {

                    width: 350px;

                    font-size: 18px;

                    z-index: 1;

                }

            }

            img {

                width: 500px;

                margin-left: -100px;

                z-index: 1;

            }

        }


        #secMiddleEscura {

            overflow: hidden;

            div {

                width: 600px;

                padding: 0px 50px;

                h1 {

                    font-size: 30px;

                    width: 400px;

                }

                p {

                    width: 350px;

                    font-size: 18px;

                    z-index: 1;

                }

            }

            img {

                width: 500px;

                margin-left: -100px;

                z-index: 1;

            }

        }

        #secPerfis {

            margin-top: -550px;

            h1 {

                font-size: 30px;

            }

            p {

                font-size: 18px;

            }

            #secFiltros {


                #linhaUpSecFiltros {

                    width: 80%;

                    margin-left: 100px;

                }

            }

        }

        #secPerfis {

            #card {

                width: 40%;

                height: 45%;

                h1 {

                    font-size: 20px;

                    width: 100%;

                    text-align: center;

                }

            }

        }


        #secPerfisEscura {

            margin-top: -550px;

            h1 {

                font-size: 30px;

            }

            p {

                font-size: 18px;

            }

            h4 {

                font-size: 25px;

            }

            #linhaUpSecFiltros {

                width: 80%;

                margin-left: 100px;

            }



            #contentFiltrosEscuro-home {

                width: 100%;

                background-size: cover;

                display: flex;

                justify-content: center;

                align-items: center;




                h6 {

                    font-weight: bold;

                    font-size: 25px;

                }

                p {

                    font-size: 20px;

                }

                div {

                    margin-left: 25px;

                }


            }

            #cardEscuro {

                width: 40%;

                height: 45%;

                h1 {

                    font-size: 20px;

                    width: 100%;

                    text-align: center;

                }


            }

        }


    }

}



@media (min-width: 980px) {

    #forma1 {

        width: 1000px;

        transform: translate(600px, 0px);

        overflow: hidden;

    }


    #forma2 {

        width: 1500px;

        transform: translate(-300px, -275px);

        z-index: 0;

    }



    #content-home {

        margin-top: -860px;

        #secHero,
        #secHeroEscura {

            overflow: hidden;

            height: 900px;

            #imgSecHero {

                width: 715px;

                margin-top: 225px;

            }


            div {

                transform: translate(0px, -275px);

                img {

                    width: 500px;

                }

                p {

                    transform: translate(0px, 10px);

                    font-size: 30px;

                    width: 40%;

                }


            }

        }

        #secMiddle {

            overflow: hidden;

            div {

                width: 650px;

                padding: 0px 75px;

                h1 {


                    font-size: 40px;

                    width: 100%;

                }

                p {

                    width: 650px;

                    font-size: 30px;

                }

            }

            img {

                width: 850px;

                transform: translate(100px, 0px);


            }

        }


        #secMiddleEscura {

            overflow: hidden;

            div {

                width: 650px;

                padding: 0px 75px;

                h1 {


                    font-size: 40px;

                    width: 100%;

                }

                p {

                    width: 650px;

                    font-size: 30px;

                }

            }

            img {

                width: 850px;

                transform: translate(100px, 0px);


            }

        }


        #secPerfis {

            margin-top: -1050px;

            h1 {

                font-size: 40px;

            }

            >p {

                font-size: 30px;

            }

            h4 {

                font-size: 30px;

            }

            #notFound {

                font-size: 35px;

                color: #1C2D43;

            }

            #secFiltros {


                #linhaUpSecFiltros {

                    width: 90%;

                    margin-left: 75px;

                }

                #contentFiltros-home {

                    div {

                        margin-left: 30px;

                        div {

                            display: flex;

                            align-items: baseline;

                            height: 100%;

                            p {

                                font-size: 25px;

                            }

                        }

                    }

                }

            }


            #card {

                width: 25%;

                height: 45%;

                margin: 0px 50px 50px 50px;

                img {

                    width: 125px;

                }

                h1 {

                    font-size: 25px;

                }

                h3, p {

                    font-size: 22px;

                }


            }

        }

        #secPerfisEscura {


            margin-top: -1050px;

            background-size: 120%;


            h1 {

                font-size: 40px;

            }

            >p {

                font-size: 30px;

            }

            h4 {

                font-size: 30px;

            }

            #notFound {

                font-size: 35px;

            }


            #linhaUpSecFiltros {

                width: 90%;

                margin-left: 75px;

            }



            #contentFiltrosEscuro-home {

                div {

                    margin-left: 50px;

                    div {

                        display: flex;

                        align-items: baseline;

                        height: 100%;

                        p {

                            font-size: 25px;

                        }

                    }

                }

                #buttonAplicarEscuro {

                    margin-right: 50px;

                }

            }


            #cardEscuro {

                width: 25%;

                height: 45%;

                margin: 0px 50px 50px 50px;

                img {

                    width: 125px;

                }

                h1 {

                    font-size: 25px;

                }

                h3, p {

                    font-size: 22px;

                }



            }


        }


    }

}